.App {
    text-align: center;
  }
  body{
    overflow: hidden;
  }
 
  .fppage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 30px;
    padding-top: 20px;
    z-index: -99;
  }
  
    

  .fpContainer {
    width: 45%; 
    margin-left: 70px; /* Center horizontally */
    margin-top: 30vh; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    padding: 10px;
    border: 1px solid #ccc;
    /* background-color: #c2ecc4; */
    border-radius: 3px;
  }

  .input-fieldfp {
    width: 95%;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
      
      .submit-button {
        width: 90%;
        padding: 10px;
        background-color: #08df13; 
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
      }
   
.text{
    color:rgb(235, 14, 14);
    font-size: 15px;
    padding-left: 60px;
    left: 35;
    right: 40;
    z-index: 99;
}
  
  
  .sign {
    position: relative;
    top:480px;
    left:785px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
 
 

  