.App {
    text-align: center;
  }
  body{
    overflow: hidden;
  }
 
  .loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d2eca1e7; 
    
  }
  
.header-container {
    width: 100%; 
    height: 60px; 
    position: fixed; 
    top: 0; 
    
    left: 0; 
    padding: 20px; 
    background-color: #2dcc35;  
    color: #d8f19c; 
    font-size: 50px; 
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

.header-text {
    text-align: left;
    font-size: 500px; 
    position: fixed; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 0; 
  
    
  }
  
  .roll-in-top {
    animation: roll-in-top 0.6s ease-out both;
  }
  
  @keyframes roll-in-top {
    0% {
      transform: translateY(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
  
  
  
  
  
  .loginContainer {
    width: 400px; 
    height:290px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(99, 179, 53, 0.1);
    text-align: center;
  }
  
  
  .input-field {
    width: 95%;
    margin-bottom: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px #08df13;
    border-radius: 3px;
  }
  
  /* .submit-button1 {
    width: 90%;
    padding: 10px;
    background-color: #08df13; 
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
  } */
  /* .jello-horizontal {
    animation: jello-horizontal 1s infinite;
    transform-origin: center;
    background-color: #08df13; 
    width: 80%;
    padding: 10px;
  } */
  .jello-horizontal {
    -webkit-animation: jello-horizontal 1s infinite;
            animation: jello-horizontal 1s infinite;
            transform-origin: center;
    background-color: #08df13; 
    width: 80%;
    padding: 10px
  }

  
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

  
  /* @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
   */

  .sign {
    position: relative;
    top:480px;
    left:785px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  a{
text-decoration: none;
  }
 
  .image-container {
    width: 350px; 
    height: 330px; 
    position: right;
  }
  
  