.ForgotP{
    display: flex;
    min-height: 100vh;
  }
  .FPage1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 %;
    background-color: #d2eca1e7; 
    
  }
  .FPheader-con {
    width: 100vh; 
    height: 60px; 
    position: fixed;
    top: 0; 
    left: 0; 
    padding: 20px; 
    background-color: #2dcc35;  
    color: #d8f19c; 
    font-size: 50px; 
  }
  .FPContainer {
    width: 400px; 
    height:290px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(99, 179, 53, 0.1);
    text-align: center;
  }
  .FPinput-field {
    width: 95%;
    margin-bottom: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px #08df13;
    border-radius: 3px;
  }